{% include cfg/_cfg.html name="defaultSchema" required=false default='<i>The default schema for the database connection</i>' description="The default schema managed by Flyway. This schema name is case-sensitive.
<p>Consequences:</p>
<ul>
    <li>This schema will be automatically set as the default one during the migration.</li>
    <li>This schema will also be the one containing the schema history table.</li>
    <li>If this schema is not specified then it will default to the first member of <code>schemas</code>.</li>
</ul>" %}
{% include cfg/_cfg.html name="schemas" required=false default='<i>The default schema for the database connection</i>' description="Comma-separated list of schemas managed by Flyway. These schema names are case-sensitive.
<p>Consequences:</p>
<ul>
    <li>Flyway will automatically attempt to create all these schemas, unless the first one already exists.</li>
    <li>The schemas will be cleaned in the order of this list.</li>
    <li>If Flyway created them, the schemas themselves will as be dropped when cleaning.</li>
    <li><code>defaultSchema</code> will default to the first member of this list if not explicitly specified.</li>
</ul>
Read more about Flyway support for multiple schemas in our <a href='http://flywaydb.org/v6/documentation/faq#multiple-schemas'>FAQs</a>" %}