* text eol=lf

*.ico binary
*.png binary
*.bmml binary
*.bmpr binary
*.gif binary
*.jpg binary
*.pdn binary
*.jar binary
*.otf binary
*.eof binary
*.eot binary
*.ttf binary
*.woff binary
*.woff2 binary
