<section class="background-color--grey--1 flex spaced-bottom--tight">
    <div class="background-color--red--brand header__rg-logo">
        <a class="display--inline" href="/">
            <img src="https://cdn.rd.gt/assets/images/global/redgate-logo--white.svg" alt="Redgate" width="102" height="25" >
        </a>
    </div>

    <div class="flex flex-align--center flex-justify--center flex-basis-100 padded-h--tight">
        <div class="hide-on-medium">
            <span class="text--medium color--red">Want more control over your database deployments?</span> 
            &ndash; Find out how with Carlos Robles at Redgate Summit
            <a href="https://www.red-gate.com/hub/events/redgate-summit-the-future-of-database-devops?utm_source=flyway&utm_medium=link&utm_campaign=databasedevops&utm_content=RGSummitQ1" class="button button--x-small spaced-left--tight" target="_blank" rel="noopener noreferrer">Register now</a>
        </div>
        <div class="show-on-medium hide-on-max">
            <a href="https://www.red-gate.com/hub/events/redgate-summit-the-future-of-database-devops?utm_source=flyway&utm_medium=link&utm_campaign=databasedevops&utm_content=RGSummitQ1" class="text--medium color--red" target="_blank" rel="noopener noreferrer">Learn more about the future of Flyway at the Redgate Summit <span class="icon--chevron-right"></span></a>
        </div>
    </div>
</section>

<section>
    <div class="band__inner-container padded--none grid">
        <div class="grid__col grid__col--span-6-of-12">
            <h1 class="alpha padded-left--tight">
                <a href="/">
                    <span class="icon--flyway color--red"></span>
                    <span class="text--redgate">
                        Flyway
                    </span>
                </a>

                <span class="color--red beta text--normal">
                    Documentation
                </span>
            </h1>
        </div>

        <div class="grid__col grid__col--span-6-of-12 site-nav">
            <nav>
                <ul id="menu-top-navigation" class="menu">
                    <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47">
                        <a href="/download">Download + pricing</a>
                    </li>
                    <li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51 current-menu-item">
                        <a href="/documentation">Documentation</a>
                    </li>
                    <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58">
                        <a href="/blog">Blog</a>
                    </li>
                    <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
                        <a href="/community">Community</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>