<!-- Begin MailChimp Signup Form -->
<h3 style="color: #888">Stay updated with our newsletter</h3>
<form action="//boxfuse.us9.list-manage.com/subscribe/post?u=0e72f61962b6b47f78568d56c&amp;id=e1046edb96" method="post" id="mc-embedded-subscribe-form-footer" name="mc-embedded-subscribe-form-footer" class="validate form-inline" target="_blank" novalidate>
    <div>
        {% if include.size == "large" %}
        <div class="input-group input-group-lg">
        {% else %}
        <div class="input-group">
        {% endif %}
            <input type="email" value="" name="EMAIL" required="required" class="form-control" id="mce-EMAIL-footer" placeholder="Your email address">
            <span class="input-group-btn">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe-footer" class="btn btn-primary">
                </span>
        </div>
        <div id="mce-responses-footer" class="clear form-control-feedback">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_0e72f61962b6b47f78568d56c_e1046edb96" tabindex="-1" value=""></div>
    </div>
</form>
<!--End mc_embed_signup-->