{% assign label = include.label | default: "Stay updated with our newsletter" %}
<!-- Begin Marketo Signup Form -->
<div id="newsletter-sign-up">
    <h3 style="color: #888">{{ label }}</h3>
    <script src="//app-lon10.marketo.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_2815"></form>
    <script>MktoForms2.loadForm("//app-lon10.marketo.com", "808-ITG-788", 2815, function(marketoForm) {

        // Set the email address field placeholder.
        var form = marketoForm.getFormElem().get(0);
        var input = form.querySelector('[name="Email"]').setAttribute('placeholder', 'Your email address');

        // On a successful submission, add a success message.
        marketoForm.onSuccess(function() {
            form.innerHTML = '<p>Thank you for subscribing to our newsletter. We\'ll be in touch soon.</p>';
            return false;
        });
    });</script>
</div>
<!-- End Marketo Signup Form -->