{% assign quantity = include.quantity | default: "10" %}
<div class="modal fade" id="flyway-pro-{{ quantity }}-license-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">License Agreement</h4>
            </div>
            <div class="modal-body">
                <p>By downloading the Flyway Pro Edition you confirm to have read and that you agree to the terms of the <a href="/licenses/flyway-pro" target="_blank">Flyway Pro Edition License</a>.</p>
                <p>To complete your purchase of the Flyway Pro Edition you'll be redirected to the Redgate website.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">I do not agree</button>
                <a class="btn btn-primary" href="https://www.red-gate.com/products/dba/flyway/pricing?product=flyway-pro&quantity={{ quantity }}">I agree</a>
            </div>
        </div>
    </div>
</div>