<table class="table table-striped">
  <tr>
    <td>Try Flyway Teams Edition with new schemas for 28 days - no sign up required</td>
    <td>
      <a href="https://flywaydb.org/documentation/learnmore/releaseNotes#7.11.0">Since 7.11.0</a><br />
      {% include release-notes-button.html url='https://flywaydb.org/documentation/learnmore/upgradingToTeams?ref=release-notes' text='Learn more' %}
    </td>
  </tr>
  <tr>
    <td>Beta support for Google Cloud Spanner + Big Query</td>
    <td>
      <a href="https://flywaydb.org/documentation/learnmore/releaseNotes#7.11.0">Since 7.11.0</a><br />
      {% include release-notes-button.html url='https://flywaydb.org/documentation/database/big-query?ref=release-notes' text='Go to Big Query Beta' %}<br/>
      {% include release-notes-button.html url='https://flywaydb.org/documentation/database/cloud-spanner?ref=release-notes' text='Go to Cloud Spanner Beta' %}
    </td>
  </tr>
  <tr>
    <td>Define your own rules for the validate command</td>
    <td>
      <a href="https://flywaydb.org/documentation/learnmore/releaseNotes#7.8.0">Since 7.8.0</a><br />
      {% include release-notes-button.html url='https://flywaydb.org/documentation/configuration/parameters/ignoreMigrationPatterns?ref=release-notes' text='Learn more' %}
    </td>
  </tr>
  <tr>
    <td>Conditionally execute scripts based on boolean expressions</td>
    <td>
      <a href="https://flywaydb.org/documentation/learnmore/releaseNotes#7.3.0">Since 7.3.0</a><br />
      {% include release-notes-button.html url='https://flywaydb.org/documentation/tutorials/injectingEnvironments?ref=release-notes' text='Learn more' %}
    </td>
  </tr>
  <tr>
    <td>Run shell scripts as migrations - including Python, Bash, PowerShell, and more</td>
    <td>
      <a href="https://flywaydb.org/documentation/learnmore/releaseNotes#7.3.0">Since 7.3.0</a><br />
      {% include release-notes-button.html url='https://flywaydb.org/documentation/concepts/migrations?ref=release-notes#script-migrations' text='Learn more' %}
    </td>
    <td></td>
  </tr>
  <tr>
    <td>Skip executing the contents of scripts whilst still retaining the record in the schema history table - perfect for introducing manually applied scripts into version control, and more.</td>
    <td>
      <a href="https://flywaydb.org/documentation/learnmore/releaseNotes#7.0.0-beta1">Since 7.0.0-beta1</a><br />
      {% include release-notes-button.html url='https://flywaydb.org/documentation/configuration/parameters/skipExecutingMigrations?ref=release-notes' text='Learn more' %}
    </td>
  </tr>
  <tr>
    <td>Have complete control over which scripts are deployed with Cherry Pick. You can also control the order of script execution.</td>
    <td>
      <a href="https://flywaydb.org/documentation/learnmore/releaseNotes#7.0.0-beta1">Since 7.0.0-beta1</a><br />
      {% include release-notes-button.html url='https://flywaydb.org/documentation/configuration/parameters/cherryPick?ref=release-notes' text='Learn more' %}
    </td>
  </tr>
</table>