<div id="spawn-containers-create">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active marketing-item">
                <a href="#tab-postgresql-create" data-toggle="tab">PostgreSQL</a>
            </li>
            <li class="marketing-item">
                <a href="#tab-mysql-create" data-toggle="tab"> MySQL</a>
            </li>
            <li class="marketing-item">
                <a href="#tab-mssql-create" data-toggle="tab"> SQL Server</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-postgresql-create">
                <p></p>
                <pre class="prettyprint">
CREATE TABLE public.crew
(
    crew_id integer NOT NULL,
    first_name text COLLATE pg_catalog."default" NOT NULL,
    last_name text COLLATE pg_catalog."default" NOT NULL,
    CONSTRAINT crew_pkey PRIMARY KEY (crew_id)
);

INSERT INTO public.crew VALUES (1, 'John', 'Smith');
INSERT INTO public.crew VALUES (2, 'Jane', 'Doe');
                </pre>
            </div>
            <div class="tab-pane" id="tab-mysql-create">
                <p></p>
                <pre class="prettyprint">
CREATE TABLE sakila.crew
(
    crew_id integer NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    CONSTRAINT crew_pkey PRIMARY KEY (crew_id)
);

INSERT INTO sakila.crew VALUES (1, 'John', 'Smith');
INSERT INTO sakila.crew VALUES (2, 'Jane', 'Doe');
                </pre>
            </div>
            <div class="tab-pane" id="tab-mssql-create">
                <p></p>
                <pre class="prettyprint">
CREATE TABLE [Warehouse].[StockSection]
(
    [StockSectionID] [bigint] IDENTITY(1,1) NOT NULL,
    [StockSectionName] [nvarchar](100) NOT NULL,
    CONSTRAINT [PK_Warehouse_StockSection]  PRIMARY KEY NONCLUSTERED ([StockSectionID] ASC)
)
GO

INSERT INTO [Warehouse].[StockSection] VALUES ('East A1');
INSERT INTO [Warehouse].[StockSection] VALUES ('East A2');
                </pre>
            </div>
        </div>
    </div>
</div>
