<div id="spawn-images-query">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active marketing-item">
                <a href="#tab-postgresql-query" data-toggle="tab">PostgreSQL</a>
            </li>
            <li class="marketing-item">
                <a href="#tab-mysql-query" data-toggle="tab"> MySQL</a>
            </li>
            <li class="marketing-item">
                <a href="#tab-mssql-query" data-toggle="tab"> SQL Server</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-postgresql-query">
                <p></p>
                <img
                    src="/assets/spawn/getting-started-pgadmin-query-backup.png"
                    style="max-width: 100%"
                />
            </div>
            <div class="tab-pane" id="tab-mysql-query">
                <p></p>
                <img
                    src="/assets/spawn/getting-started-mysqlworkbench-query-backup.png"
                    style="max-width: 100%"
                />
            </div>
            <div class="tab-pane" id="tab-mssql-query">
                <p></p>
                <img
                    src="/assets/spawn/getting-started-ssms-query-backup.png"
                    style="max-width: 100%"
                />
            </div>
        </div>
    </div>
</div>
