<div id="spawn-containers-delete">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active marketing-item">
                <a href="#tab-postgresql" data-toggle="tab">PostgreSQL</a>
            </li>
            <li class="marketing-item">
                <a href="#tab-mysql" data-toggle="tab"> MySQL</a>
            </li>
            <li class="marketing-item">
                <a href="#tab-mssql" data-toggle="tab"> SQL Server</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-postgresql">
                <p></p>
                <pre class="prettyprint">DELETE FROM public.film_actor;</pre>
            </div>
            <div class="tab-pane" id="tab-mysql">
                <p></p>
                <pre class="prettyprint">
DELETE FROM sakila.film_actor where actor_id > 0;</pre>
            </div>
            <div class="tab-pane" id="tab-mssql">
                <p></p>
                <pre class="prettyprint">DELETE FROM Sales.InvoiceLines;</pre>
            </div>
        </div>
    </div>
</div>
