<div class="modal fade" id="flyway-trial-license-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="trial_form" action="javascript:hideAndSubmitTrialForm();">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">License Agreement</h4>
                </div>
                <div class="modal-body">
                    <p>By requesting a Flyway Trial Edition license key you confirm to have read and that you agree to the terms of the <a href="/licenses/flyway-trial" target="_blank">Flyway Trial Edition License</a>.</p>
                    <div class="form-group">
                        <label for="inputCompany">Company name (required)</label>
                        <input type="text" class="form-control" id="inputCompany" placeholder="My Company, Inc" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email address (required)</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">I do not agree</button>
                    <button type="submit" class="btn btn-primary">I agree, email me the license key</button>
                </div>
            </form>
        </div>
    </div>
</div>