{% include cfg/_cfg.html name="target" required=false default="latest" description="The target version up to which Flyway should consider migrations. Migrations with a higher version number will be ignored. If set to a value other than <code>current</code> or <code>latest</code>, this must be a valid migration version (e.g. <code>2.1</code>).<br />
Special values:
<ul>
  <li><code>current</code>: designates the current version of the schema</li>
  <li><code>latest</code>: the latest version of the schema, as defined by the migration with the highest version</li>
</ul>" %}