---
layout: documentation
menu: commandLine
---

{% include base.html %}

<div>
    <div id="pills">
    <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline">Overview</a></li>
        <li
        {% if page.pill == 'migrate' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline/migrate">migrate</a></li>
        <li
        {% if page.pill == 'clean' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline/clean">clean</a></li>
        <li
        {% if page.pill == 'info' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline/info">info</a></li>
        <li
        {% if page.pill == 'validate' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline/validate">validate</a></li>
        <li
        {% if page.pill == 'undo' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline/undo">undo</a></li>
        <li
        {% if page.pill == 'baseline' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline/baseline">baseline</a></li>
        <li
        {% if page.pill == 'repair' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/commandline/repair">repair</a></li>
    </ul>
    </div>
    
    {{ content }}

</div>

{% include trialpopup.html %}