---
layout: v6/documentation
menu: configuration
---

{% include base.html %}

<div>
    <div id="pills">
    <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/documentation{{base}}/configuration">Overview</a></li>
        <li
        {% if page.pill == 'configFiles' %} class="active" {% endif %}>
        <a href="/documentation{{base}}/configfiles">Config Files</a></li>
        <li
        {% if page.pill == 'envvars' %} class="active" {% endif %}>
        <a href="/documentation{{base}}/envvars">Environment variables</a></li>
        <li
        {% if page.pill == 'placeholders' %} class="active" {% endif %}>
        <a href="/documentation{{base}}/placeholders">Placeholders</a></li>
        <li
        {% if page.pill == 'scriptconfigfiles' %} class="active" {% endif %}>
        <a href="/documentation{{base}}/scriptconfigfiles">Script Config Files</a></li>
    </ul>
    </div>
    
    {{ content }}

</div>

{% include trialpopup.html %}