---
layout: default-honeycomb
tab: documentation
title: Documentation
---

{% include base.html %}

<div class="padded-v">
    <div class="row">
        <div class="col-md-3">
            <select name="docversion" onchange="location = this.value;" class="spaced-bottom--tight" style="width: auto;">
                <option value="/documentation">version 7</option>
                <option value="/documentation/v6" selected>version 6</option>
            </select>

            <nav class="nav--vertical nav--vertical--minimal">
                <ul class="nav nav-pills nav-stacked">

                    <li
                    {% if page.menu == 'overview' %} class="nav--vertical__active" {% endif %}>
                    <a style="padding-left: 0.25rem;" class="text--uppercase" href="/documentation{{base}}">Overview</a></li>

                    <li class="nav-header">Concepts</li>
                    <li
                    {% if page.menu == 'migrations' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/migrations">Migrations</a></li>
                    <li
                    {% if page.menu == 'callbacks' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/callbacks">Callbacks</a></li>
                    <li
                    {% if page.menu == 'erroroverrides' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/erroroverrides">Error Overrides</a></li>
                    <li
                    {% if page.menu == 'dryruns' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/dryruns">Dry Runs</a></li>

                    <li class="nav-header">Commands</li>
                    <li
                    {% if page.menu == 'migrate' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/command/migrate">Migrate</a></li>
                    <li
                    {% if page.menu == 'clean' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/command/clean">Clean</a></li>
                    <li
                    {% if page.menu == 'info' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/command/info">Info</a></li>
                    <li
                    {% if page.menu == 'validate' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/command/validate">Validate</a></li>
                    <li
                    {% if page.menu == 'undo' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/command/undo">Undo</a></li>
                    <li
                    {% if page.menu == 'baseline' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/command/baseline">Baseline</a></li>
                    <li
                    {% if page.menu == 'repair' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/command/repair">Repair</a></li>
                    <li class="nav-header">Usage</li>
                    <li
                    {% if layout.menu == 'commandLine' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/commandline">Command-line</a></li>
                    <li
                    {% if layout.menu == 'api' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/api">API (Java / Android)</a></li>
                    <li
                    {% if layout.menu == 'maven' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/maven">Maven</a></li>
                    <li
                    {% if layout.menu == 'gradle' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/gradle">Gradle</a></li>
                    <li
                    {% if page.menu == 'plugins' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/plugins/">Community Plugins</a></li>
                    <li class="nav-header">Configuration</li>
                    <li
                    {% if page.menu == 'envvars' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/envvars">Environment Variables</a></li>
                    <li
                    {% if page.menu == 'configFiles' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/configfiles">Config Files</a></li>
                    <li
                    {% if page.menu == 'scriptconfigfiles' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/scriptconfigfiles">Script Config Files</a></li>
                    <li
                    {% if page.menu == 'placeholders' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/placeholders">Placeholders</a></li>
                    <li
                    {% if page.menu == 'ssl' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/ssl">SSL support</a>
                    </li>
                    <li class="nav-header">Supported Databases</li>
                    <li
                    {% if page.menu == 'oracle' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/oracle">Oracle</a></li>
                    <li
                    {% if page.menu == 'sqlServer' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/sqlserver">SQL Server</a></li>
                    <li
                    {% if page.menu == 'db2' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/db2">DB2</a></li>
                    <li
                    {% if page.menu == 'mysql' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/mysql">MySQL</a></li>
                    <li
                    {% if page.menu == 'aurora-mysql' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/aurora-mysql">Aurora MySQL</a></li>
                    <li
                    {% if page.menu == 'mariadb' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/mariadb">MariaDB</a></li>
                    <li
                    {% if page.menu == 'xtradb' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/xtradb">Percona XtraDB Cluster</a></li>
                    <li
                    {% if page.menu == 'postgresql' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/postgresql">PostgreSQL</a></li>
                    <li
                    {% if page.menu == 'aurora-postgresql' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/aurora-postgresql">Aurora PostgreSQL</a></li>
                    <li
                    {% if page.menu == 'redshift' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/redshift">Redshift</a></li>
                    <li
                    {% if page.menu == 'cockroachdb' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/cockroachdb">CockroachDB</a></li>
                    <li
                    {% if page.menu == 'saphana' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/saphana">SAP HANA</a></li>
                    <li
                    {% if page.menu == 'sybasease' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/sybasease">Sybase ASE</a></li>
                    <li
                    {% if page.menu == 'informix' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/informix">Informix</a></li>
                    <li
                    {% if page.menu == 'h2' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/h2">H2</a></li>
                    <li
                    {% if page.menu == 'hsqldb' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/hsqldb">HSQLDB</a></li>
                    <li
                    {% if page.menu == 'derby' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/derby">Derby</a></li>
                    <li
                    {% if page.menu == 'snowflake' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/snowflake">Snowflake</a></li>
                    <li
                    {% if page.menu == 'sqlite' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/sqlite">SQLite</a></li>
                    <li
                    {% if page.menu == 'firebird' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/database/firebird">Firebird</a></li>
                    <li class="nav-header">Learn more</li>
                    <li
                    {% if page.menu == 'existing' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/existing">Existing database setup</a></li>
                    <li
                    {% if page.menu == 'articles' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/articles">Articles</a></li>
                    <li
                    {% if page.menu == 'videos' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/videos">Videos</a></li>
                    <li
                    {% if page.menu == 'releaseNotes' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/releaseNotes">Release Notes</a></li>
                    <li
                    {% if page.menu == 'roadmap' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/roadmap">Roadmap</a></li>
                    <li
                    {% if page.menu == 'faq' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/faq">FAQ</a></li>
                    <li class="nav-header">Contribute</li>
                    <li
                    {% if page.menu == 'contribute' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/contribute">Contributing to Flyway</a></li>
                    <li
                        {% if page.menu == 'contributingDatabaseSupport' %} class="nav--vertical__active" {% endif %}>
                        <a href="/documentation{{base}}/contribute/contributingDatabaseSupport">Contributing Database Support</a>
                    </li>
                    <li
                    {% if layout.menu == 'website' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/contribute/website">Documentation</a></li>
                    <li
                    {% if layout.menu == 'code' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/contribute/code">Code</a></li>
                    <li
                    {% if page.menu == 'hallOfFame' %} class="nav--vertical__active" {% endif %}>
                    <a href="/documentation{{base}}/contribute/hallOfFame">Hall Of Fame</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9">

            {{ content }}

        </div>
    </div>
</div>