---
layout: documentation
menu: gradle
---

{% include base.html %}

<div>
    <div id="pills">
        <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle">Overview</a></li>
        <li
        {% if page.pill == 'migrate' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle/migrate">migrate</a></li>
        <li
        {% if page.pill == 'clean' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle/clean">clean</a></li>
        <li
        {% if page.pill == 'info' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle/info">info</a></li>
        <li
        {% if page.pill == 'validate' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle/validate">validate</a></li>
        <li
        {% if page.pill == 'undo' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle/undo">undo</a></li>
        <li
        {% if page.pill == 'baseline' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle/baseline">baseline</a></li>
        <li
        {% if page.pill == 'repair' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/gradle/repair">repair</a></li>
    </ul>
        </div>
    
    {{ content }}

</div>

{% include trialpopup.html %}