#header {
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#tabs {
    float: right;
    margin-top: 30px;
}

#tabs i {
    background-image: url("/assets/bootstrap-2.2.2/img/glyphicons-halflings.png") !important;
}

#big-sell {
    min-height: 400px;
    text-align: center;
    background: #7db9e8;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMzAlIiBzdG9wLWNvbG9yPSIjN2RiOWU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzIlIiBzdG9wLWNvbG9yPSIjMjA3Y2NhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 30%, #207cca 72%, #1e5799 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,#7db9e8), color-stop(72%,#207cca), color-stop(100%,#1e5799));
    background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 30%,#207cca 72%,#1e5799 100%);
    background: -o-radial-gradient(center, ellipse cover,  #7db9e8 30%,#207cca 72%,#1e5799 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 30%,#207cca 72%,#1e5799 100%);
    background: radial-gradient(ellipse at center,  #7db9e8 30%,#207cca 72%,#1e5799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 );
    border-radius: 10px;
}

#big-sell div {
    margin-top: 50px;
    font-size: 44px;
    color: white;
    font-weight: bold;
    line-height: 150%;
}

#big-sell #details a {
    margin-left: 10px;
    margin-right: 10px;
}

#big-sell p#links {
    font-size: 12px;
    line-height: 100%;
    display: block;
}

#big-sell p#links a {
    color: #DDDDDD;
}

.btn-jumbo {
    font-size: 20px;
    padding: 14px 24px;
    margin: 20px 5px;
    border-radius: 6px;
}

#social-buttons table {
    margin: auto;
}

#social-buttons td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 180px;
}

hr.soften {
    height: 1px;
    margin: 54px 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    border: 0;
}

.marketing .row {
    text-align: left;
    padding-bottom: 10px;
}

.marketing .row img {
    float: left;
    margin-right: 7px;
}

.marketing .row p {
    clear: both;
}

.marketing-section-head {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
}

.marketing-section-sub {
    color: #AAAAAA;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto 25px;
    text-align: center;
    line-height: 150%;
}

.marketing-item {
    font-weight: bold;
    line-height: 150%;
    font-size: 16px;
}

#databases .row .marketing-item{
    margin-top: 5px;
}

#clients {
    margin-top: 50px;
}

#features h3 {
    font-size: 16px;
    margin-top: 10px;
}

#features td:not(:first-child) {
    text-align: center;
}

#features td:nth-child(2) {
    background: #eeeeee;
}

.release {
    margin-bottom: 30px;
}

.release h3 {
    font-size: 18px;
    padding-top: 10px;
}

.release h4 {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#get-started {
    text-align: center;
}

#get-started a {
    margin-left: 10px;
    margin-right: 10px;
}

#footer {
    text-align: center;
    color: #AAAAAA;
    font-size: 10px;
}

#menu.well {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu.well ul.nav {
    float: none;
    margin-top: 0;
}

.nav-pills > li > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

a.stackoverflow-tag {
    color: #3E6D8E;
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}

a.stackoverflow-tag:hover {
    background-color: #3E6D8E;
    color: #E0EAF1;
    border-bottom: 1px solid #37607D;
    border-right: 1px solid #37607D;
    text-decoration: none;
}

h2 {
    font-size: 24px;
    margin-top: 40px;
}

h3 {
    font-size: 16px;
}

pre.console {
    background: #000000;
    color: white;
}
