#top-cta {
    width: 100%;
    background-color: #008BC0;
    text-align: center;
}

#top-cta a {
    font-size: 16px;
    display: block;
    padding: 10px;
    color: #EFF7FB;
    line-height: 24px;
}

#top-cta a:hover {
    text-decoration: none;
}

#top-cta a img {
    margin-top: -5px;
}

.inline-cta {
    display: block;
    padding: 10px;
    margin-top: 20px;
    border: 1px dashed #DFE7EB;
    background-color: #EFF7FB;
    color: #008BC0;
}

.inline-cta i {
    color: #008BC0;
}

.inline-cta:hover {
    text-decoration: none;
    color: #008BC0;
}

.inline-cta img {
    margin-top: -3px;
}

#header {
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#header img {
    margin-top: 10px;
    margin-bottom: -20px;
}

#tabs {
    float: right;
    margin-top: 30px;
}

#big-sell {
    min-height: 750px;
    text-align: center;
    width: 100% !important;
    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 100px;
    font-size: 12px;
}

#big-sell div {
    color: #555555;
}

.strong-heading {
    font-weight: bold;
    font-size: 32px;
    color: #555555;
    text-align: center;
    line-height: 150%;
}

#tagline {
    margin-top: 100px;
}

#big-sell #details a {
    margin-left: 10px;
    margin-right: 10px;
}

#big-sell p#links {
    padding-top: 30px;
    line-height: 100%;
    display: block;
}
#big-sell p#worksOn i {
    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
}
#big-sell p#news {
    display: block;
    margin-top: -5px;
}

a {
    color: #0166AE;
}

h1 {
    margin-top: 0;
}

img {
    max-width: 100%;
}

.btn-primary {
    background-color: #0166AE;
}

.btn-info {
    background-color: #aaa;
    border-color: #999;
}

.btn-info:hover {
    background-color: #999;
    border-color: #888;
}

.btn-jumbo {
    font-size: 20px;
    padding: 14px 24px;
    margin: 20px 5px;
    border-radius: 6px;
}

#social i {
    font-size: 28px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.tabbable>.nav-tabs>li>a {
    font-size: 12px !important;
    padding: 7px 10px;
}

.nav-pills li a:hover {
    background-color: #ccc;
    color: white;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus, .nav-pills>li.active>a>i {
    background-color: #0166AE;
    color: white;
}

#pills .nav-pills li a {
    font-size: 12px;
    padding: 7px 10px;
    margin-bottom: 20px;
}

#menu .nav-pills li {
    font-size: 16px;
}

#menu .nav-pills li a {
    border-radius: 0 !important;
}

#menu .nav-pills .nav-header {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: #f0f0f0;
    margin-top: 30px;
    color: #333;
}

#social a:hover i {
    color: #0088cc !important;
}

#tagline-long {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
}

#top3 {
    margin-top: 40px;
    text-align: center;
}

#top3 .top3-icon {
    font-size: 120px;
    margin-bottom: 20px;
}

#top3 .col-md-4 {
    margin-bottom: 50px;
}

hr.soften {
    height: 1px;
    margin: 54px 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    border: 0;
}

#upAndRunningBg {
    margin-top: 100px;
    height: 130px;
    width: 100%;
    background: #f0f0f0;
}

#upAndRunning {
    margin-top: -150px;
    margin-bottom: 150px;
}

#upAndRunningLeft {
    line-height: 150%;
    padding-top: 30px;
}

#upAndRunningLeft span {
    font-size: 48px;
    color: #0166AE;
    display: inline-block;
    margin-top: 10px;
    vertical-align: bottom;
}

#upAndRunningRight {
    margin-top: -5px;
    background: #ffffff;
    padding: 10px;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
}

#downloadStatsBg {
    height: 130px;
    width: 100%;
    background: #f0f0f0;
}

#downloadStats {
    margin-top: -150px;
}

#downloadStatsLeft {
    line-height: 150%;
    padding-top: 30px;
}

#downloadStatsLeft span {
    font-size: 48px;
    color: #0166AE;
    display: inline-block;
    margin-top: 10px;
    vertical-align: bottom;
}

#downloadStatsRight {
    margin-top: -15px;
    background: #ffffff;
    padding: 10px;
    border: 1px #CCCCCC solid;
    border-radius: 10px;
    max-width: 100%;
}

.marketing .row {
    text-align: left;
    padding-bottom: 10px;
}

.marketing .row img {
    float: left;
    margin-right: 7px;
}

.marketing .row p {
    clear: both;
}

.marketing-section-head {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 150%;
}

.marketing-section-sub {
    color: #AAAAAA;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto 25px;
    text-align: center;
    line-height: 150%;
}

.marketing-item {
    font-weight: bold;
    line-height: 150%;
    font-size: 16px;
}

.marketing .marketing-item i {
    color: #000000;
    font-size: 28px;
    vertical-align: bottom;
}

#testimonial blockquote {
    border-left: 0;
    margin-top: 20px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
    font-size: 20px;
    line-height: 150%;
    color: #888;
}
#testimonial blockquote:before {
    color: #ccc;
    width: 28px;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
#testimonial blockquote p {
    display: inline;
}

.marketing-testimonial,
.marketing-testimonial-right {
    margin-top: 60px;
    margin-bottom: 60px;
}

#testimonial img {
    margin-top: 75px;
    width: 120px;
}

#testimonial p {
    margin-left: 10px;
    font-size: 16px;
}

#testimonial .marketing-testimonial-right {
    text-align: right;
}

#databases .row .marketing-item {
    margin-top: 5px;
}

#clients {
    margin-top: 50px;
}

#features h3 {
    font-size: 16px;
    margin-top: 10px;
}

#features td:not(:first-child) {
    text-align: center;
}

#features td:nth-child(2) {
    background: #eeeeee;
}

.release {
    margin-bottom: 30px;
}

.release h3 {
    font-size: 18px;
    padding-top: 10px;
}

.release h4 {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#get-started {
    text-align: center;
}

.next-steps {
    margin-top: 50px;
}

.next-steps a {
    margin-right: 20px;
    margin-bottom: 20px;
}

#footer {
    text-align: center;
    color: #AAAAAA;
    font-size: 10px;
    line-height: 120%;
}

#footer .mc-field-group {
    margin-top: 2px;
}

.fa-heart {
    color: #990000;
}

#footer #intellij {
    position: relative;
    left: auto;
    right: auto;
    display: inline-block;
}

#menu .date {
    font-size: 10px;
}

a.stackoverflow-tag {
    color: #39739d;
    background-color: #E1ECF4;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}

a.stackoverflow-tag:hover {
    background-color: #dae7f1;
    text-decoration: none;
}

h2 {
    margin-top: 40px;
}

h3 {
}

pre.console {
    background: #555;
    color: white;
    margin-bottom: 20px;
}

pre.console span {
    color: #aaa;
}

pre.console strong {
    color: yellow;
}

pre.prettyprint {
    padding: 9.5px;
}

i {
    color: #555;
}

.btn i {
    color: #ffffff;
    padding-left: 10px;
}

.btn-primary i {
    color: #ffffff !important;
}

#apiJavadoc iframe {
    width: 100%;
}

.blog-post-date {
    color: #888;
    font-weight: bold;
    margin-bottom: 50px;
}

.blog-post-title {
    margin-bottom: 5px;
}

.blog-post-image {
    text-align: center;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#blog-post-nav {
    margin-top: 50px;
    margin-bottom: 30px;
}

#blog-post-previous {
    float: left;
}

#blog-post-next {
    float: right;
}

#blog-sidebar {
    color: #888;
}

#blog-sidebar h2 {
    margin-top: 0;
}

#blog-sidebar #mce-EMAIL {
    margin-top: 10px;
}

.center {
    text-align: center;
}

.label a, .label i {
    color: #ffffff;
}

.label a:hover {
    text-decoration: none;
}

#getStarted #first-steps .marketing-item {
    font-size: 14px;
}

#support td {
    vertical-align: middle;
}

#support td:not(:first-child), #support th:not(:first-child) {
    text-align: center;
}

#support span {
    font-size: 10px;
}

.btn-download i {
    color: black;
    padding-left: 0;
    font-size: 16px;
    margin-top: 4px;
}

.thumbnail img {
    min-width: 100%;
}

.thumbnail h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    #downloadStatsRight, #upAndRunningRight {
        margin-top: 0;
    }

    #header .col-md-2 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    #downloadStatsBg {
        height: 180px;
    }

    #downloadStats {
        margin-top: -170px;
    }

    #upAndRunning {
        margin-top: -120px;
    }

    #downloadStatsLeft, #upAndRunningLeft {
        padding-top: 0;
    }

    #testimonial img {
        margin-top: 20px;
    }

    .marketing-testimonial {
        margin-top: 0;
    }
}
