---
layout: default
tab: blog
title: Blog
---
{% assign author = site.data.authors[page.author] | default: site.data.authors.axel %}
<div>
    <div class="row">
        <div class="col-md-9">
            <h1 class="blog-post-title">{{ page.subtitle }}</h1>
            <p class="blog-post-date">{{page.date | date: "%Y-%m-%d"}} by <a href="https://twitter.com/{{ author.twitter }}">{{ author.name }}</a></p>

            {{ content }}

            <div id="social-buttons">
                <a class="btn btn-primary btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?original_referer={{ site.url | uri_escape}}{{ page.url | uri_escape | split: '.html'}}&ref_src=twsrc%5Etfw&text={{ page.subtitle | uri_escape }}&tw_p=tweetbutton&url={{ site.url | uri_escape}}{{ page.url | uri_escape | split: '.html' }}"><i class="fa fa-twitter"></i> Tweet</a>
            </div>
            <div id="blog-post-nav">
                {% if page.previous %}
                <div id="blog-post-previous">
                    <a href="{{page.previous.url}}">« {{ page.previous.subtitle }}</a>
                </div>
                {% endif %}

                {% if page.next %}
                <div id="blog-post-next">
                    <a href="{{page.next.url}}">{{ page.next.subtitle }} »</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div id="blog-sidebar" class="col-md-3">
            <h2>Recent posts</h2>
            <div id="menu">
                <ul class="nav nav-pills nav-stacked">
                    {% for post in site.posts %}
                    <li
                    {% if page.permalink == post.permalink %} class="active" {% endif %}>
                    <a href="{{ post.permalink | split: '.html' }}"><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span><br/>{{ post.subtitle | xml_escape }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>