---
layout: documentation
menu: code
---

{% include base.html %}

<div>
    <div id="pills">
        <ul class="nav nav-pills">
        <li {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/contribute/code">How to Contribute</a></li>
        <li
                {% if page.pill == 'codeSetup' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/contribute/code/setup">Dev Environment Setup</a></li>
        <li
                {% if page.pill == 'codeSubmit' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/contribute/code/submit">Submit your Changes</a></li>
    </ul>
        </div>
    
    {{ content }}

</div>