---
layout: documentation
menu: commandLine
---
<div>
    <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/documentation/commandline">Overview</a></li>
        <li
        {% if page.pill == 'clean' %} class="active" {% endif %}>
        <a href="/documentation/commandline/commandLineClean.html">clean</a></li>
        <li
        {% if page.pill == 'init' %} class="active" {% endif %}>
        <a href="/documentation/commandline/commandLineInit.html">init</a></li>
        <li
        {% if page.pill == 'migrate' %} class="active" {% endif %}>
        <a href="/documentation/commandline/commandLineMigrate.html">migrate</a></li>
        <li
        {% if page.pill == 'validate' %} class="active" {% endif %}>
        <a href="/documentation/commandline/commandLineValidate.html">validate</a></li>
        <li
        {% if page.pill == 'info' %} class="active" {% endif %}>
        <a href="/documentation/commandline/commandLineInfo.html">info</a></li>
        <li
        {% if page.pill == 'repair' %} class="active" {% endif %}>
        <a href="/documentation/commandline/commandLineRepair.html">repair</a></li>
    </ul>
    
    {{ content }}

</div>