---
layout: documentation
menu: commandLine
---
<div>
    <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/documentation/commandLine">Overview</a></li>
        <li
        {% if page.pill == 'clean' %} class="active" {% endif %}>
        <a href="/documentation/commandLine/commandLineClean.html">clean</a></li>
        <li
        {% if page.pill == 'init' %} class="active" {% endif %}>
        <a href="/documentation/commandLine/commandLineInit.html">init</a></li>
        <li
        {% if page.pill == 'migrate' %} class="active" {% endif %}>
        <a href="/documentation/commandLine/commandLineMigrate.html">migrate</a></li>
        <li
        {% if page.pill == 'validate' %} class="active" {% endif %}>
        <a href="/documentation/commandLine/commandLineValidate.html">validate</a></li>
        <li
        {% if page.pill == 'status' %} class="active" {% endif %}>
        <a href="/documentation/commandLine/commandLineStatus.html">status</a></li>
        <li
        {% if page.pill == 'history' %} class="active" {% endif %}>
        <a href="/documentation/commandLine/commandLineHistory.html">history</a></li>
    </ul>
    
    {{ content }}

</div>