---
layout: documentation
menu: configuration
---

<div>
    <div id="pills">
    <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/documentation/configuration/parameters">Overview</a></li>
        <li
        {% if page.pill == 'configFiles' %} class="active" {% endif %}>
        <a href="/documentation/configuration/configfile">Config Files</a></li>
        <li
        {% if page.pill == 'envvars' %} class="active" {% endif %}>
        <a href="/documentation/configuration/envvars">Environment variables</a></li>
        <li
        {% if page.pill == 'placeholders' %} class="active" {% endif %}>
        <a href="/documentation/configuration/placeholder">Placeholders</a></li>
        <li
        {% if page.pill == 'scriptconfigfiles' %} class="active" {% endif %}>
        <a href="/documentation/configuration/scriptconfigfiles">Script Config Files</a></li>
    </ul>
    </div>
    
    {{ content }}

</div>

{% include trialpopup.html %}