---
layout: default
tab: contribute
title: Contribute
---
<div>
    <div class="row">
        <div class="span3">
            <div id="menu" class="well">
                <ul class="nav nav-list">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/documentation/contribute">Overview</a></li>
                    <li
                    {% if page.menu == 'hallOfFame' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/hallOfFame">Hall Of Fame</a></li>
                    <li class="nav-header">Website</li>
                    <li
                    {% if page.menu == 'website' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/website">How to Contribute</a></li>
                    <li
                    {% if page.menu == 'websiteSetup' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/website/setup">Dev Environment Setup</a></li>
                    <li
                    {% if page.menu == 'websiteSubmit' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/website/submit">Submit your Changes</a></li>
                    <li class="nav-header">Code</li>
                    <li
                    {% if page.menu == 'code' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/code">How to Contribute</a></li>
                    <li
                    {% if page.menu == 'codeSetup' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/code/setup">Dev Environment Setup</a></li>
                    <li
                    {% if page.menu == 'codeDatabase' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/code/database">Database Setup</a></li>
                    <li
                    {% if page.menu == 'codeSubmit' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/code/submit">Submit your Changes</a></li>
                    <li
                    {% if page.menu == 'newDatabase' %} class="active" {% endif %}>
                    <a href="/documentation/contribute/code/contributeNewDatabase">New Database</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">

            {{ content }}

        </div>
    </div>
</div>