---
layout: default
tab: contribute
title: Contribute
---
<div>
    <div class="row">
        <div class="span3">
            <div id="menu" class="well">
                <ul class="nav nav-list">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/contribute">Overview</a></li>
                    <li
                    {% if page.menu == 'hallOfFame' %} class="active" {% endif %}>
                    <a href="/contribute/hallOfFame.html">Hall Of Fame</a></li>
                    <li class="nav-header">Website</li>
                    <li
                    {% if page.menu == 'website' %} class="active" {% endif %}>
                    <a href="/contribute/website">How to Contribute</a></li>
                    <li class="nav-header">Code</li>
                    <li
                    {% if page.menu == 'code' %} class="active" {% endif %}>
                    <a href="/contribute/code">How to Contribute</a></li>
                    <li
                    {% if page.menu == 'devEnvironmentSetup' %} class="active" {% endif %}>
                    <a href="/contribute/code/devEnvironmentSetup.html">Dev Environment Setup</a></li>
                    <li
                    {% if page.menu == 'newDatabase' %} class="active" {% endif %}>
                    <a href="/contribute/code/contributeNewDatabase.html">New Database</a></li>
                    <li class="nav-header">Commiters only</li>
                    <li
                    {% if page.menu == 'release' %} class="active" {% endif %}>
                    <a href="/contribute/release.html">Releasing Flyway</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">

            {{ content }}

        </div>
    </div>
</div>