<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.subtitle %} {{ page.subtitle }} -{% endif %}{% if page.title %} {{ page.title }} -{% endif %} Flyway by Redgate &bull; Database Migrations Made Easy.</title>
    <link rel="alternate" type="application/atom+xml" title="Flyway" href="/blog/atom.xml" />
    <link href="/assets/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/prettify-20110601/prettify.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/flywaydb.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/default.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <meta property="og:title" content="Flyway by Redgate &bull; Database Migrations Made Easy."/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="https://flywaydb.org"/>
    <meta property="og:site_name" content="Flyway by Redgate"/>
    <meta property="og:image" content="https://flywaydb.org/assets/logo/flyway-logo-tm.png"/>
    <meta property="fb:admins" content="762307805"/>
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-8034033-6', 'flywaydb.org');
        ga('set', 'forceSSL', true);
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>
    <script type="text/javascript">
        var didInit = false;
        function initMunchkin() {
            if(didInit === false) {
                didInit = true;
                Munchkin.init('808-ITG-788');
            }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
            if (this.readyState === 'complete' || this.readyState === 'loaded') {
                initMunchkin();
            }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
    </script>
    <script type="text/javascript">
        if (self !== top) {
            top.location = self.location;
        }
    </script>
    <script src="/assets/jquery-1.12.1/jquery-1.12.1.min.js" type="text/javascript"></script>
</head>
<body class="{{layout.tab}} {{page.tab}}">
    <div class="oh-notification">
        <p> <strong>Share your experience with Database DevOps by taking part in the 2021 State of Database DevOps survey</strong> <a href="https://www.surveymonkey.com/r/FJ65NDD" class="oh-button">Take the survey</a></p>  
    </div>
<div class="container">
   
    <div id="header" class="row">
        <div class="col-md-2">
            {% if page.tab != 'home' %}<a href="/"><img src="/assets/logo/flyway-logo-tm-sm.png" alt="Flyway" usemap="#logosmmap"/>
            <map name="logosmmap">
                <area shape="rect" coords="45,90,120,106" href="https://red-gate.com" alt="Redgate">
            </map></a>{% endif %}
        </div>
        <div class="col-md-10">
            <ul id="tabs" class="nav nav-tabs ">
                <li
                {% if page.tab == 'download' %} class="active" {% endif %}>
                <a href="/download">DOWNLOAD / PRICING</a></li>
                <li
                {% if layout.tab == 'documentation' %} class="active" {% endif %}>
                <a href="/documentation">DOCUMENTATION</a></li>
                <li
                {% if layout.tab == 'blog' %} class="active" {% endif %}>
                <a href="/blog">BLOG</a></li>
                <li
                {% if page.tab == 'community' %} class="active" {% endif %}>
                <a href="/community">COMMUNITY</a></li>
            </ul>
        </div>
    </div>
</div>
{% if page.tab != 'home' %}
<div class="container">
{% endif %}

{% if page.cssid %}
<div id="{{ page.cssid }}">
{% endif %}

{{ content }}

{% if page.cssid %}
</div>
{% endif %}

{% if page.tab != 'home' %}
</div>
{% endif %}

<div class="container">
    <hr class="soften"/>
    <div id="footer">
        {% unless page.hideNewsletterFooterForm %}
        {% include newsletter.html %}
        {% endunless %}

        {% if page.tab != "community" %}
        <p>&nbsp;</p>
        <h3 style="color: #888">
            <a href="/community">
                Join us for our community Office Hours
            </a>
        </h3>
        <p id="social">
            <a href="https://github.com/flyway/flyway" title="Source Code on GitHub"><i class="fa fa-github"></i></a>
            <a href="http://stackoverflow.com/questions/tagged/flyway" title="Flyway questions on StackOverflow"><i class="fa fa-stack-overflow"></i></a>
            <a href="https://twitter.com/flywaydb" title="@flywaydb on Twitter"><i class="fa fa-twitter"></i></a>
        </p>
        <p>&nbsp;</p>
        {% endif %}

        <p>
            &copy; 2010-20{{ site.time | date: '%y' }} <a href="https://www.red-gate.com">Redgate</a>. Made with <i class="fa fa-heart"></i> in Cambridge.
        </p>
        <p>
            Maintained with help of the <a href="/documentation/contribute/hallOfFame">many contributors</a>.<br/>
            <a href="https://github.com/flyway/flywaydb.org/blob/gh-pages/{{page.path}}">Edit this page on Github</a>
        </p>
        <p>
            Code licensed under <a href="https://raw.githubusercontent.com/flyway/flyway/master/LICENSE.txt">Apache License, Version 2</a><br/>
            Website content licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>
        <br/>
            Icons from <a href="https://fontawesome.com/">Font Awesome</a>,
            licensed under <a href="https://scripts.sil.org/OFL">SIL OFL 1.1</a>
        </p>

        <p>
            Flyway is a registered trademark of <a href="http://www.red-gate.com">Red Gate Software Ltd.</a><br/>
            All other trademarks, trade names, logos or service marks mentioned on this site belong to their respective owners.<br/>
            <a href="https://www.red-gate.com/website/legal">Legal information and Privacy Policy</a>
        </p>

        <p>This site collects anonymous usage information through Google Analytics.</p>
    </div>
</div>
<script src="/assets/bootstrap-3.3.6-dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/prettify-20110601/prettify.js" type="text/javascript"></script>
<script src="/assets/toc.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        prettyPrint();
        $('#toc').toc({ listType: 'ul', noBackToTopLinks: true, showSpeed: 0, headers: 'h2, h3', title: '' });

        $("h2[id],h3[id]").click(function () {
            window.location.hash = $(this).attr("id");
        });
        $("tr[id]>td:first-child").click(function () {
            window.location.hash = $(this).parent().attr("id");
        });

        $("a[href^=http]").each(function () {
            if (this.href.indexOf(location.hostname) == -1) {
                $(this).attr({
                    target: "_blank"
                });
            }
        });
        $('.modal').on('shown.bs.modal', function() {
            $(this).find('[autofocus]').focus();
        });
    });

    if (navigator.platform.indexOf('Win') == -1) {
        // Not windows
        // Fix line continuation marks
        $("pre.console").html(function () {
            return $(this).html().replace(/\^\n/g, "\\\n");
        });
        // And prompt char
        $("pre.console span").html(function () {
            return $(this).html().replace("&gt;", "$");
        });
    }

    function downloadDeferred(url) {
        setTimeout(function () {
            document.location.href = url;
        }, 1000);
    }

    function hideAndDownload(id, url) {
        $(id).modal('hide');

        downloadDeferred("/download/thankyou?dl=" + url);
    }

    function hideAndSubmitTrialForm(formData) {
        $.ajax({
            type: "POST",
            url: 'https://repo.flywaydb.org/license/trial',
            data: formData
        });

        $('#flyway-trial-license-modal').modal('hide');
    }
</script>
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

<script type="text/javascript">
    _linkedin_partner_id = "36413";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
    </script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=36413&fmt=gif" />
</noscript>
    
</body>
</html>