<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% if page.subtitle %} {{ page.subtitle }} -{% endif %}{% if page.title %} {{ page.title }} -{% endif %}
        Flyway &bull; Database Migrations Made Easy.</title>
    <link rel="alternate" type="application/atom+xml" title="Flyway" href="/blog/atom.xml" />
    <link href="/assets/bootstrap-2.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/prettify-20110601/prettify.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/flywaydb.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8"/>
    <meta property="og:title" content="Flyway &bull; Database Migrations Made Easy."/>
    <meta property="og:type" content="product"/>
    <meta property="og:url" content="http://flywaydb.org"/>
    <meta property="og:site_name" content="Flyway"/>
    <meta property="og:image" content="http://flywaydb.org/logo/flyway-logo-transparent-300.png"/>
    <meta property="fb:admins" content="762307805"/>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8034033-6']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script src="/assets/jquery-1.8.0/jquery-1.8.0.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div id="header" class="row">
        <div class="span2">
            {% if page.tab != 'home' %}<a href="/"><img src="/assets/logo/flyway-logo-transparent-100.png" alt="Flyway"></a>{% endif %}
        </div>
        <div class="span10">
            <ul id="tabs" class="nav nav-tabs ">
                <li
                {% if page.tab == 'getStarted' %} class="active" {% endif %}>
                <a href="/getstarted"><i class="fa fa-play"></i> GET STARTED</a></li>
                <li
                {% if page.tab == 'documentation' %} class="active" {% endif %}>
                <a href="/documentation"><i class="fa fa-bookmark"></i> DOCUMENTATION</a></li>
                <li
                {% if page.tab == 'contribute' %} class="active" {% endif %}>
                <a href="/contribute"><i class="fa fa-leaf"></i> CONTRIBUTE</a></li>
                <li
                {% if page.tab == 'blog' %} class="active" {% endif %}>
                <a href="/blog"><i class="fa fa-bullhorn"></i> BLOG</a></li>
                <li
                {% if page.tab == 'support' %} class="active" {% endif %}>
                <a href="/support"><i class="fa fa-question-circle"></i> SUPPORT</a></li>
            </ul>
        </div>
    </div>
</div>
{% if page.tab != 'home' %}
<div class="container">
{% endif %}

{{ content }}

{% if page.tab != 'home' %}
</div>
{% endif %}

<div class="container">
    <hr class="soften"/>
    <div id="footer">
        <p>
            &copy; 2010-2014 <a href="http://axelfontaine.com">Axel Fontaine</a>. Made with <i class="fa fa-heart"></i> in M&uuml;nchen.
        </p>
        <p>
            Maintained with help of the <a href="/contribute/hallOfFame.html">many contributors</a><br/>
        </p>
        <p>
            Code licensed under <a href="https://raw.githubusercontent.com/flyway/flyway/master/LICENSE.txt">Apache License, Version 2</a><br/>
            Website content licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY SA 4.0</a>
        <br/>
            Icons from <a href="http://fontawesome.io/">Font Awesome</a>,
            licensed under <a href="http://scripts.sil.org/OFL">SIL OFL 1.1</a>
        </p>

        <p>
            Flyway is a registered trademark of <a href="http://boxfuse.com">Boxfuse GmbH</a><br/>
            All other trademarks, trade names, logos or service marks mentioned on this site belong to their respective owners.</p>
            <p>This site collects anonymous usage information through Google Analytics.</p>
    </div>
</div>
<script src="/assets/bootstrap-2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/prettify-20110601/prettify.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        prettyPrint();
    });
</script>
</body>
</html>