---
layout: default
tab: documentation
title: Documentation
---
<div>
    <div class="row">
        <div class="span3">
            <div id="menu" class="well">
                <ul class="nav nav-list">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/documentation">Overview</a></li>
                    <li
                    {% if page.menu == 'migration' %} class="active" {% endif %}>
                    <a href="/documentation/migration">Migrations</a></li>
                    <li
                    {% if page.menu == 'existingDatabaseSetup' %} class="active" {% endif %}>
                    <a href="/documentation/existingDatabaseSetup.html">Existing database setup</a></li>
                    <li class="nav-header">Execution Modes</li>
                    <li
                    {% if page.menu == 'commandLine' %} class="active" {% endif %}>
                    <a href="/documentation/commandline">Command-line</a></li>
                    <li
                    {% if page.menu == 'api' %} class="active" {% endif %}>
                    <a href="/documentation/api">API</a></li>
                    <li
                    {% if page.menu == 'maven' %} class="active" {% endif %}>
                    <a href="/documentation/maven">Maven</a></li>
                    <li
                    {% if page.menu == 'gradle' %} class="active" {% endif %}>
                    <a href="/documentation/gradle">Gradle</a></li>
                    <li
                    {% if page.menu == 'ant' %} class="active" {% endif %}>
                    <a href="/documentation/ant">Ant</a></li>
                    <li
                    {% if page.menu == 'sbt' %} class="active" {% endif %}>
                    <a href="/documentation/sbt">SBT</a></li>
                    <li class="nav-header">Supported Databases</li>
                    <li
                    {% if page.menu == 'oracle' %} class="active" {% endif %}>
                    <a href="/documentation/database/oracle.html">Oracle</a></li>
                    <li
                    {% if page.menu == 'sqlServer' %} class="active" {% endif %}>
                    <a href="/documentation/database/sqlserver.html">SQL Server</a></li>
                    <li
                    {% if page.menu == 'sqlAzure' %} class="active" {% endif %}>
                    <a href="/documentation/database/sqlazure.html">SQL Azure</a></li>
                    <li
                    {% if page.menu == 'db2' %} class="active" {% endif %}>
                    <a href="/documentation/database/db2.html">DB2</a></li>
                    <li
                    {% if page.menu == 'mySql' %} class="active" {% endif %}>
                    <a href="/documentation/database/mysql.html">MySQL</a></li>
                    <li
                    {% if page.menu == 'mariadb' %} class="active" {% endif %}>
                    <a href="/documentation/database/mariadb.html">MariaDB</a></li>
                    <li
                    {% if page.menu == 'googleCloudSql' %} class="active" {% endif %}>
                    <a href="/documentation/database/googleCloudSql.html">Google Cloud SQL</a></li>
                    <li
                    {% if page.menu == 'postgreSql' %} class="active" {% endif %}>
                    <a href="/documentation/database/postgresql.html">PostgreSQL</a></li>
                    <li
                    {% if page.menu == 'h2' %} class="active" {% endif %}>
                    <a href="/documentation/database/h2.html">H2</a></li>
                    <li
                    {% if page.menu == 'hsql' %} class="active" {% endif %}>
                    <a href="/documentation/database/hsql.html">Hsql</a></li>
                    <li
                    {% if page.menu == 'derby' %} class="active" {% endif %}>
                    <a href="/documentation/database/derby.html">Derby</a></li>
                    <li
                    {% if page.menu == 'sqlite' %} class="active" {% endif %}>
                    <a href="/documentation/database/sqlite.html">SQLite</a></li>
                    <li
                    {% if page.menu == 'redshift' %} class="active" {% endif %}>
                    <a href="/documentation/database/redshift.html">Redshift</a></li>
                    <li
                    {% if page.menu == 'vertica' %} class="active" {% endif %}>
                    <a href="/documentation/database/vertica.html">Vertica</a></li>
                    <li class="nav-header">Extensions</li>
                    <li
                    {% if page.menu == 'thirdParty' %} class="active" {% endif %}>
                    <a href="/documentation/pluginsThirdParty.html">Third Party plugins</a></li>
                    <li class="nav-header">Learn more</li>
                    <li
                    {% if page.menu == 'articles' %} class="active" {% endif %}>
                    <a href="/documentation/articles.html">Articles</a></li>
                    <li
                    {% if page.menu == 'videos' %} class="active" {% endif %}>
                    <a href="/documentation/videos.html">Videos</a></li>
                    <li
                    {% if page.menu == 'releaseNotes' %} class="active" {% endif %}>
                    <a href="/documentation/releaseNotes.html">Release Notes</a></li>
                    <li
                    {% if page.menu == 'roadmap' %} class="active" {% endif %}>
                    <a href="/documentation/roadmap.html">Roadmap</a></li>
                    <li
                    {% if page.menu == 'faq' %} class="active" {% endif %}>
                    <a href="/documentation/faq.html">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">

            {{ content }}

        </div>
    </div>
</div>