---
layout: default
tab: documentationv6
title: DocumentationV6
---
<div>
    <div class="row">
        <div class="col-md-3" style="width: auto">
            <div id="menu">
                <ul class="nav nav-pills nav-stacked">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/v6/documentation">Overview</a></li>
                    <li class="nav-header">Concepts</li>
                    <li
                    {% if page.menu == 'migrations' %} class="active" {% endif %}>
                    <a href="/v6/documentation/migrations">Migrations</a></li>
                    <li
                    {% if page.menu == 'callbacks' %} class="active" {% endif %}>
                    <a href="/v6/documentation/callbacks">Callbacks</a></li>
                    <li
                    {% if page.menu == 'erroroverrides' %} class="active" {% endif %}>
                    <a href="/v6/documentation/erroroverrides">Error Overrides</a></li>
                    <li
                    {% if page.menu == 'dryruns' %} class="active" {% endif %}>
                    <a href="/v6/documentation/dryruns">Dry Runs</a></li>
                    <li class="nav-header">Commands</li>
                    <li
                    {% if page.menu == 'migrate' %} class="active" {% endif %}>
                    <a href="/v6/documentation/command/migrate">Migrate</a></li>
                    <li
                    {% if page.menu == 'clean' %} class="active" {% endif %}>
                    <a href="/v6/documentation/command/clean">Clean</a></li>
                    <li
                    {% if page.menu == 'info' %} class="active" {% endif %}>
                    <a href="/v6/documentation/command/info">Info</a></li>
                    <li
                    {% if page.menu == 'validate' %} class="active" {% endif %}>
                    <a href="/v6/documentation/command/validate">Validate</a></li>
                    <li
                    {% if page.menu == 'undo' %} class="active" {% endif %}>
                    <a href="/v6/documentation/command/undo">Undo</a></li>
                    <li
                    {% if page.menu == 'baseline' %} class="active" {% endif %}>
                    <a href="/v6/documentation/command/baseline">Baseline</a></li>
                    <li
                    {% if page.menu == 'repair' %} class="active" {% endif %}>
                    <a href="/v6/documentation/command/repair">Repair</a></li>
                    <li class="nav-header">Usage</li>
                    <li
                    {% if layout.menu == 'commandLine' %} class="active" {% endif %}>
                    <a href="/v6/documentation/commandline">Command-line</a></li>
                    <li
                    {% if layout.menu == 'api' %} class="active" {% endif %}>
                    <a href="/v6/documentation/api">API (Java / Android)</a></li>
                    <li
                    {% if layout.menu == 'maven' %} class="active" {% endif %}>
                    <a href="/v6/documentation/maven">Maven</a></li>
                    <li
                    {% if layout.menu == 'gradle' %} class="active" {% endif %}>
                    <a href="/v6/documentation/gradle">Gradle</a></li>
                    <li
                    {% if page.menu == 'plugins' %} class="active" {% endif %}>
                    <a href="/v6/documentation/plugins/">Community Plugins</a></li>
                    <li class="nav-header">Configuration</li>
                    <li
                    {% if page.menu == 'envvars' %} class="active" {% endif %}>
                    <a href="/v6/documentation/envvars">Environment Variables</a></li>
                    <li
                    {% if page.menu == 'configFiles' %} class="active" {% endif %}>
                    <a href="/v6/documentation/configfiles">Config Files</a></li>
                    <li
                    {% if page.menu == 'scriptconfigfiles' %} class="active" {% endif %}>
                    <a href="/v6/documentation/scriptconfigfiles">Script Config Files</a></li>
                    <li
                    {% if page.menu == 'placeholders' %} class="active" {% endif %}>
                    <a href="/v6/documentation/placeholders">Placeholders</a></li>
                    <li
                    {% if page.menu == 'ssl' %} class="active" {% endif %}>
                    <a href="/v6/documentation/ssl">SSL support</a>
                    </li>
                    <li class="nav-header">Supported Databases</li>
                    <li
                    {% if page.menu == 'oracle' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/oracle">Oracle</a></li>
                    <li
                    {% if page.menu == 'sqlServer' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/sqlserver">SQL Server</a></li>
                    <li
                    {% if page.menu == 'db2' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/db2">DB2</a></li>
                    <li
                    {% if page.menu == 'mysql' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/mysql">MySQL</a></li>
                    <li
                    {% if page.menu == 'aurora-mysql' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/aurora-mysql">Aurora MySQL</a></li>
                    <li
                    {% if page.menu == 'mariadb' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/mariadb">MariaDB</a></li>
                    <li
                    {% if page.menu == 'xtradb' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/xtradb">Percona XtraDB Cluster</a></li>
                    <li
                    {% if page.menu == 'postgresql' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/postgresql">PostgreSQL</a></li>
                    <li
                    {% if page.menu == 'aurora-postgresql' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/aurora-postgresql">Aurora PostgreSQL</a></li>
                    <li
                    {% if page.menu == 'redshift' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/redshift">Redshift</a></li>
                    <li
                    {% if page.menu == 'cockroachdb' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/cockroachdb">CockroachDB</a></li>
                    <li
                    {% if page.menu == 'saphana' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/saphana">SAP HANA</a></li>
                    <li
                    {% if page.menu == 'sybasease' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/sybasease">Sybase ASE</a></li>
                    <li
                    {% if page.menu == 'informix' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/informix">Informix</a></li>
                    <li
                    {% if page.menu == 'h2' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/h2">H2</a></li>
                    <li
                    {% if page.menu == 'hsqldb' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/hsqldb">HSQLDB</a></li>
                    <li
                    {% if page.menu == 'derby' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/derby">Derby</a></li>
                    <li
                    {% if page.menu == 'snowflake' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/snowflake">Snowflake</a></li>
                    <li
                    {% if page.menu == 'sqlite' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/sqlite">SQLite</a></li>
                    <li
                    {% if page.menu == 'firebird' %} class="active" {% endif %}>
                    <a href="/v6/documentation/database/firebird">Firebird</a></li>
                    <li class="nav-header">Learn more</li>
                    <li
                    {% if page.menu == 'existing' %} class="active" {% endif %}>
                    <a href="/v6/documentation/existing">Existing database setup</a></li>
                    <li
                    {% if page.menu == 'articles' %} class="active" {% endif %}>
                    <a href="/v6/documentation/articles">Articles</a></li>
                    <li
                    {% if page.menu == 'videos' %} class="active" {% endif %}>
                    <a href="/v6/documentation/videos">Videos</a></li>
                    <li
                    {% if page.menu == 'releaseNotes' %} class="active" {% endif %}>
                    <a href="/v6/documentation/releaseNotes">Release Notes</a></li>
                    <li
                    {% if page.menu == 'roadmap' %} class="active" {% endif %}>
                    <a href="/v6/documentation/roadmap">Roadmap</a></li>
                    <li
                    {% if page.menu == 'faq' %} class="active" {% endif %}>
                    <a href="/v6/documentation/faq">FAQ</a></li>
                    <li class="nav-header">Contribute</li>
                    <li
                    {% if page.menu == 'contribute' %} class="active" {% endif %}>
                    <a href="/v6/documentation/contribute">Contributing to Flyway</a></li>
                    <li
                        {% if page.menu == 'contributingDatabaseSupport' %} class="active" {% endif %}>
                        <a href="/v6/documentation/contribute/contributingDatabaseSupport">Contributing Database Support</a>
                    </li>
                    <li
                    {% if layout.menu == 'website' %} class="active" {% endif %}>
                    <a href="/v6/documentation/contribute/website">Website</a></li>
                    <li
                    {% if layout.menu == 'code' %} class="active" {% endif %}>
                    <a href="/v6/documentation/contribute/code">Code</a></li>
                    <li
                    {% if page.menu == 'hallOfFame' %} class="active" {% endif %}>
                    <a href="/v6/documentation/contribute/hallOfFame">Hall Of Fame</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">

            {{ content }}

        </div>
    </div>
</div>