---
layout: getStarted
menu: firstSteps
---
<div>
    <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/getstarted/firststeps">Overview</a></li>
        <li
        {% if page.pill == 'api' %} class="active" {% endif %}>
        <a href="/getstarted/firststeps/api.html">API</a></li>
        <li
        {% if page.pill == 'commandline' %} class="active" {% endif %}>
        <a href="/getstarted/firststeps/commandline.html">Command-line</a></li>
        <li
        {% if page.pill == 'maven' %} class="active" {% endif %}>
        <a href="/getstarted/firststeps/maven.html">Maven</a></li>
        <li
        {% if page.pill == 'ant' %} class="active" {% endif %}>
        <a href="/getstarted/firststeps/ant.html">Ant</a></li>
    </ul>
    
    {{ content }}

</div>