---
layout: default
tab: getStarted
---
<div>
    <div class="row">
        <div class="col-md-3">
            <div id="menu">
                <ul class="nav nav-stacked nav-pills">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/getstarted">Overview</a></li>
                    <li
                    {% if page.menu == 'why' %} class="active" {% endif %}>
                    <a href="/getstarted/why">Why database migrations</a></li>
                    <li
                    {% if page.menu == 'how' %} class="active" {% endif %}>
                    <a href="/getstarted/how">How Flyway works</a></li>
                    <li class="nav-header">First steps</li>
                    <li
                    {% if page.menu == 'commandline' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/commandline">Command-line</a></li>
                    <li
                    {% if page.menu == 'api' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/api">API</a></li>
                    <li
                    {% if page.menu == 'maven' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/maven">Maven</a></li>
                    <li
                    {% if page.menu == 'gradle' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/gradle">Gradle</a></li>
                    <li class="nav-header">Advanced</li>
                    <li
                    {% if page.menu == 'repeatable' %} class="active" {% endif %}>
                    <a href="/getstarted/repeatable">Repeatable migrations</a></li>
                    <li
                    {% if page.menu == 'undo' %} class="active" {% endif %}>
                    <a href="/getstarted/undo">Undo migrations</a></li>
                    <li
                    {% if page.menu == 'java' %} class="active" {% endif %}>
                    <a href="/getstarted/java">Java-based migrations</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">

            {{ content }}

        </div>
    </div>
</div>