---
layout: default
tab: getStarted
---
<div>
    <div class="row">
        <div class="span3">
            <div id="menu" class="well">
                <ul class="nav nav-list">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/getstarted">Overview</a></li>
                    <li
                    {% if page.menu == 'why' %} class="active" {% endif %}>
                    <a href="/getstarted/why.html">Why database migrations</a></li>
                    <li
                    {% if page.menu == 'how' %} class="active" {% endif %}>
                    <a href="/getstarted/how.html">How Flyway works</a></li>
                    <li class="nav-header">First steps</li>
                    <li
                    {% if page.menu == 'commandline' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/commandline.html">Command-line</a></li>
                    <li
                    {% if page.menu == 'api' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/api.html">API</a></li>
                    <li
                    {% if page.menu == 'maven' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/maven.html">Maven</a></li>
                    <li
                    {% if page.menu == 'gradle' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/gradle.html">Gradle</a></li>
                    <li
                    {% if page.menu == 'ant' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/ant.html">Ant</a></li>
                    <li
                    {% if page.menu == 'sbt' %} class="active" {% endif %}>
                    <a href="/getstarted/firststeps/sbt.html">SBT</a></li>
                    <li class="nav-header">Download</li>
                    <li
                    {% if page.menu == 'download' %} class="active" {% endif %}>
                    <a href="/getstarted/download.html">Download Flyway</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">

            {{ content }}

        </div>
    </div>
</div>