---
layout: default
tab: getStarted
title: Get Started
---
<div>
    <div class="row">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li
                    {% if page.menu == 'introduction' %} class="active" {% endif %}>
                    <a href="/getstarted2">Overview</a></li>
                    <li
                    {% if page.menu == 'whyDatabaseMigrations' %} class="active" {% endif %}>
                    <a href="/getstarted2/whyDatabaseMigrations.html">Why database migrations</a></li>
                    <li
                    {% if page.menu == 'howFlywayWorks' %} class="active" {% endif %}>
                    <a href="/getstarted2/howFlywayWorks.html">How Flyway works</a></li>
                    <li
                    {% if page.menu == 'firstSteps' %} class="active" {% endif %}>
                    <a href="/getstarted2/firstSteps.html">First steps</a></li>
                    <li
                    {% if page.menu == 'existingDatabaseSetup' %} class="active" {% endif %}>
                    <a href="/getstarted2/existingDatabaseSetup.html">Existing database setup</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">

            {{ content }}

        </div>
    </div>
</div>