---
layout: default
tab: getstarted
---
<div>
    <div class="row">
        <div class="span3">
            <ul id="left-nav" class="nav nav-tabs nav-stacked">
                <li {% if page.menu == 'introduction' %} class="active" {% endif %}><a href="/getstarted">Introduction</a></li>
                <li {% if page.menu == 'whydatabasemigrations' %} class="active" {% endif %}><a href="/getstarted/whyDatabaseMigrations.html">Why database migrations</a></li>
                <li {% if page.menu == 'howflywayworks' %} class="active" {% endif %}><a href="/getstarted/howFlywayWorks.html">How Flyway works</a></li>
                <li {% if page.menu == 'firststeps' %} class="active" {% endif %}><a href=".">First steps</a></li>
            </ul>
        </div>
        <div class="span9">

            {{ content }}

        </div>
    </div>
</div>