---
layout: documentation
menu: gradle
---
<div>
    <ul class="nav nav-pills">
        <li
        {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/documentation/gradle">Overview</a></li>
        <li
        {% if page.pill == 'migrate' %} class="active" {% endif %}>
        <a href="/documentation/gradle/migrate.html">migrate</a></li>
        <li
        {% if page.pill == 'clean' %} class="active" {% endif %}>
        <a href="/documentation/gradle/clean.html">clean</a></li>
        <li
        {% if page.pill == 'info' %} class="active" {% endif %}>
        <a href="/documentation/gradle/info.html">info</a></li>
        <li
        {% if page.pill == 'validate' %} class="active" {% endif %}>
        <a href="/documentation/gradle/validate.html">validate</a></li>
        <li
        {% if page.pill == 'baseline' %} class="active" {% endif %}>
        <a href="/documentation/gradle/baseline.html">baseline</a></li>
        <li
        {% if page.pill == 'repair' %} class="active" {% endif %}>
        <a href="/documentation/gradle/repair.html">repair</a></li>
    </ul>
    
    {{ content }}

</div>