---
layout: documentation
menu: maven
---

<div>
    <div id="pills">
        <ul class="nav nav-pills">
        <li
        {% if page.pill == 'mvn_overview' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven">Overview</a></li>
        <li
        {% if page.pill == 'mvn_migrate' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven/migrate">migrate</a></li>
        <li
        {% if page.pill == 'mvn_clean' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven/clean">clean</a></li>
        <li
        {% if page.pill == 'mvn_info' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven/info">info</a></li>
        <li
        {% if page.pill == 'mvn_validate' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven/validate">validate</a></li>
        <li
        {% if page.pill == 'mvn_undo' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven/undo">undo</a></li>
        <li
        {% if page.pill == 'mvn_baseline' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven/baseline">baseline</a></li>
        <li
        {% if page.pill == 'mvn_repair' %} class="active" {% endif %}>
        <a href="/documentation/usage/maven/repair">repair</a></li>
    </ul>
        </div>
    
    {{ content }}

</div>

{% include trialpopup.html %}