---
layout: default
tab: support
title: Support
---
<div>
    <div class="row">
        <div class="span3">
            <div id="menu" class="well">
                <ul class="nav nav-list">
                    <li
                    {% if page.menu == 'overview' %} class="active" {% endif %}>
                    <a href="/support">Overview</a></li>
                    <li
                    {% if page.menu == 'payForFeature' %} class="active" {% endif %}>
                    <a href="/support/payForFeature.html">Pay for a Feature</a></li>
                    <li
                    {% if page.menu == 'training' %} class="active" {% endif %}>
                    <a href="/support/training.html">Training</a></li>
                </ul>
            </div>
        </div>
        <div class="span9">

            {{ content }}

        </div>
    </div>
</div>