---
layout: documentation
menu: website
---

{% include base.html %}

<div>
    <div id="pills">
        <ul class="nav nav-pills">
        <li {% if page.pill == 'overview' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/contribute/website">Overview</a></li>
        <li {% if page.pill == 'websiteSetup' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/contribute/website/setup">Dev Environment Setup</a></li>
        <li {% if page.pill == 'websiteSubmit' %} class="active" {% endif %}>
        <a href="/{{base}}documentation/contribute/website/submit">Submit your Changes</a></li>
    </ul>
        </div>
    
    {{ content }}

</div>