body {
    background-image: url("bg/frenchstucco.png");
    background-repeat: repeat;
}

.navbar {
    position: absolute;
}

.navbar-inner {
    min-height: 70px;
}

ul.nav {
    height: 70px;
}

.navbar .nav > li > a {
    height: 30px;
    padding-top: 25px;
    font-size: 20px;
}

#top-space {
    min-height: 100px;
}

#big-sell {
    min-height: 400px;
    text-align: center;
}

#big-sell span {
    font-size: 20px;
}

#big-sell #details a {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-jumbo {
    font-size: 20px;
    padding: 14px 24px;
    margin: 20px 5px;
    border-radius: 6px;
}

#social-buttons table {
    margin: auto;
}

#social-buttons td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

hr.soften {
    height: 1px;
    margin: 54px 0;
    background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
    border: 0;
}

h1 {
    text-align: center;
}

h2 {
    color: #AAAAAA;
    font-size: 16px;
    font-weight: bold;
    margin: 10px auto 25px;
    text-align: center;
}

h3 {
    font-size: 16px;
}

#marketing .row {
    margin-top: 10px;
    text-align: left;
}

#marketing .row img {
    float: left;
    margin-right: 7px;
}

#marketing .row p {
    margin-top: 5px;
}

#marketing #clients {
    margin-top: 50px;
}

#databases .row {
    margin-top: 10px;
    text-align: left;
}

#databases .row img {
    float: left;
    margin-right: 7px;
}

#databases .row p {
    margin-top: 5px;
}

#features h3 {
    margin-top: 10px;
}

#features td:not(:first-child) {
    text-align: center;
}

#features td:nth-child(2) {
    background: #ffffff;
}

.release {
    margin-bottom: 30px;
}

.release h3 {
    font-size: 18px;
    padding-top: 10px;
}

.release h4 {
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#get-started {
    text-align: center;
}

#get-started a {
    margin-left: 10px;
    margin-right: 10px;
}

#footer {
    text-align: center;
    color: #AAAAAA;
    font-size: 10px;
}